Parks.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Parks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Park" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Owner"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element name="Reservation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:string" name="Url"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NeiboringStates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="State" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Established">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:short">
                      <xs:attribute type="xs:string" name="Founder" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>